@import 'bootstrap/scss/bootstrap'; 

body { 
	font-family: 'Arial', sans-serif; 
	background-color: #f8f9fa; 
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
}